<%- include('partials/header.ejs'); %>

<h1><%= title %></h1>
<h2>Hello, World</h2>
<p>Welcome to <%= title %></p>

<a href="register" class="btn">Create an account</a>

<div class="link-section">
    <a href="users">See Users</a>
    <a href="user/45436632">Get random user</a>
</div>

<div class="link-section">
    <a href="posts">Get Posts</a>
    <a href="posts/543487">Get Single Post</a>
</div>
    
    
<%- include('partials/footer.ejs'); %>







