<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="/examples">EJS Examples</a></li>
    </ul>
</nav>